In [2]:
import pandas as pd

In [12]:
probas1 = pd.read_csv('predict_probas/knn_sin_outliers43.csv', index_col='building_id')
probas2 = pd.read_csv('predict_probas/xgb_baseline_001.csv', index_col='building_id')
probas3 = pd.read_csv('predict_probas/xgb_short1_001.csv', index_col='building_id')

In [13]:
peso1 = 1
peso2 = 3
peso3 = 2

In [14]:
merged = probas1.merge(probas2, right_index=True, left_index=True).merge(probas3, right_index=True, left_index=True)

In [15]:
merged

,proba_grado1_x,proba_grado2_x,proba_grado3_x,proba_grado1_y,proba_grado2_y,proba_grado3_y,proba_grado1,proba_grado2,proba_grado3
building_id,,,,,,,,,
300051,0.000000,0.000000,1.000000,0.000806,0.316837,0.682357,0.004356,0.164612,0.831033
99355,0.000000,1.000000,0.000000,0.001330,0.872572,0.126098,0.000118,0.999628,0.000254
890251,0.000000,0.000000,1.000000,0.007056,0.839004,0.153940,0.001110,0.011118,0.987772
745817,0.522753,0.477247,0.000000,0.591165,0.407163,0.001672,0.662792,0.336549,0.000660
421793,0.000000,0.000000,1.000000,0.001275,0.182703,0.816022,0.000344,0.181263,0.818393
...,...,...,...,...,...,...,...,...,...
310028,0.000000,1.000000,0.000000,0.045149,0.802654,0.152197,0.025999,0.928718,0.045283
663567,0.000000,0.000000,1.000000,0.002212,0.484076,0.513712,0.000294,0.396124,0.603582
1049160,0.000000,1.000000,0.000000,0.058025,0.699507,0.242468,0.052411,0.934925,0.012664
442785,0.000000,0.934914,0.065086,0.003877,0.821287,0.174835,0.032151,0.774960,0.192889
501372,0.882377,0.117623,0.000000,0.486105,0.504839,0.009057,0.622068,0.318745,0.059187

In [16]:
merged[1] = merged.proba_grado1_x * peso1 + merged.proba_grado1_y * peso2 + merged.proba_grado1 * peso3
merged[2] = merged.proba_grado2_x * peso1 + merged.proba_grado2_y * peso2 + merged.proba_grado2 * peso3
merged[3] = merged.proba_grado3_x * peso1 + merged.proba_grado3_y * peso2 + merged.proba_grado3 * peso3

In [17]:
merged[[1,2,3]]

                    1         2         3
building_id
300051       0.011131  1.279734  4.709136
99355        0.004226  5.616972  0.378801
890251       0.023387  2.539247  3.437366
745817       3.621830  2.371834  0.006336
421793       0.004514  0.910634  5.084852
...               ...       ...       ...
310028       0.187444  5.265398  0.547158
663567       0.007223  2.244477  3.748301
1049160      0.278897  4.968372  0.752732
442785       0.075934  4.948696  0.975370
501372       3.584827  2.269630  0.145544

[86868 rows x 3 columns]

In [18]:
prediction = merged[[1,2,3]].idxmax(axis="columns")

In [20]:
submission_format = pd.read_csv('submission_format.csv', index_col='building_id')
my_submission = pd.DataFrame(data=prediction,
                             columns=submission_format.columns,
                             index=submission_format.index)

In [21]:
my_submission.to_csv('subs/ensable_rankeado_001.csv')